{% extends 'base.html' %}
{% block title %}Add Student{% endblock %}

{% block content %}

<div class="card p-4">

<form method="POST">
{% csrf_token %}

<input name="name" class="form-control mb-2" placeholder="Name" required>

<input name="roll_no" class="form-control mb-2" placeholder="Roll No" required>

<!-- 🔥 SIMPLE DEPARTMENT INPUT -->
<input name="department" class="form-control mb-2" placeholder="Department" required>

<input name="admission_year" class="form-control mb-2" placeholder="Admission Year" required>

<label>Programme Type</label>
<select name="course" class="form-control mb-3">
    <option value="UG">UG</option>
    <option value="PG">PG</option>
    <option value="Research">Research</option>
</select>

<button class="btn btn-success">Add Student</button>

</form>

</div>

{% endblock %}